<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" [opened]="sidenavService.sidenavOpen()">
    <mat-nav-list>
        <a mat-list-item>Item</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque debitis excepturi libero non quasi saepe vitae? Beatae dolores ducimus ipsa iusto neque odio placeat quae reprehenderit! Asperiores assumenda error exercitationem?</p>
  </mat-sidenav-content>
</mat-sidenav-container>
